* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    user-select: none;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #181818;
    color: #FFF;
}

body {
    border: 1px solid #1e1f203a;
    overflow-y: hidden;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

.input-field textarea:focus+label {
    color: #6200ee !important;
}

input.valid:not([type]),
input.valid:not([type]):focus,
input.valid[type=text]:not(.browser-default),
input.valid[type=text]:not(.browser-default):focus,
input.valid[type=password]:not(.browser-default),
input.valid[type=password]:not(.browser-default):focus,
input.valid[type=email]:not(.browser-default),
input.valid[type=email]:not(.browser-default):focus,
input.valid[type=url]:not(.browser-default),
input.valid[type=url]:not(.browser-default):focus,
input.valid[type=time]:not(.browser-default),
input.valid[type=time]:not(.browser-default):focus,
input.valid[type=date]:not(.browser-default),
input.valid[type=date]:not(.browser-default):focus,
input.valid[type=datetime]:not(.browser-default),
input.valid[type=datetime]:not(.browser-default):focus,
input.valid[type=datetime-local]:not(.browser-default),
input.valid[type=datetime-local]:not(.browser-default):focus,
input.valid[type=tel]:not(.browser-default),
input.valid[type=tel]:not(.browser-default):focus,
input.valid[type=number]:not(.browser-default),
input.valid[type=number]:not(.browser-default):focus,
input.valid[type=search]:not(.browser-default),
input.valid[type=search]:not(.browser-default):focus,
textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid:focus,
.select-wrapper.valid>input.select-dropdown {
    border-bottom: 1px solid #6200ee !important;
    box-shadow: 0 1px 0 0 #6200ee !important;
    color: #FFF !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #6200ee !important;
    box-shadow: 0 1px 0 0 #6200ee !important
}

textarea {
    color: white;
}

option {
    color: white;
}

p {
    margin-top: 0px;
    padding-bottom: 15px;
    color: rgba(255, 255, 255, 0.404);
}

.optgroup {
    background-color: #1a1a1a !important;
}

.optgroup span,
.optgroup-option span {
    color: #FFF !important;
}

.dropdown-content {
    background-color: #141414 !important;
}

input.select-dropdown {
    color: #FFF !important;
}

.select-dropdown li.optgroup {
    border-top: 0px solid #eee !important;
}

.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #6200ee !important;
    box-shadow: 0 1px 0 0 #6200ee !important
}

.select-wrapper svg path:first-child {
    fill: #FFF !important;
}

.input-field,
.helper-text {
    color: #9e9e9e !important;
}

.btn,
.btn-large,
.btn-small,
.btn:hover {
    background-color: #6200ee !important;
}

#hover-box {
    z-index: 100;
    height: 64px;
    width: 325px;
    background-color: #1a1a1a;
    position: fixed;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: #6200ee !important;
    background-color: #6200ee !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: #6200ee !important;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid #6200ee !important;
}