* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    user-select: none;
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #181818;
    color: #FFF;
}

body {
    border: 1px solid #1e1f203a;
    overflow-y: hidden;
}


h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.404);
}

.white-icon {
    color: rgba(255, 255, 255, 0.404);
}