::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar:hover {
    width: 6px;
    height: 3px;
}

::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-thumb {
    background: #6200ee;
    border: 0px none #6200ee;
}

::-webkit-scrollbar-thumb:hover {
    background: #6200ee;
}

::-webkit-scrollbar-thumb:active {
    background: #5d03da;
}

::-webkit-scrollbar-track {
    background: #1d1e1f;
    border: 1px none #6200ee;
}

::-webkit-scrollbar-track:hover {
    background: #2b2d2e;
}

::-webkit-scrollbar-track:active {
    background: #2e2f31;
}